#root {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.icon {
  color:#B57140;
}

h1 {
  font-size: 80px;
  font-weight: 800;
}

.firstScreen h2, .firstScreen .author h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 65px;
  font-weight: 400;
  font-style: normal;
  line-height: 56px;
  margin-bottom: 0;
}

.aboutAuthors b {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  margin-right: 5px;
}

.firstScreen h2 {
  font-size: 120px;
}

h2 {
  color: #121013;
  font-size: 40px;
  font-weight: 700;
  margin: 0 auto;
}

h2 + p {
  margin: 0 auto 20px;
}

.banner h1, .banner h2 {
  color: white;
  margin: 0;
  margin-bottom: 25px;
}

.firstScreen p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  padding: 70px 0;
  width: 100%;
  margin: 0 auto;
}

.row {
    font-family: "Montserrat", Sans-serif;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 15px;
    flex-wrap: wrap;
}

.row.flex-column {
  flex-direction: column;
}

.row p {
  margin-block-start: 0;
  margin-block-end: .9rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6em;

}

.banner .row {
  flex-direction: column;
}

.col-12 {
  width: 100%;
  padding: 10px 10px 0px;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
  flex: 1;
}

.col-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

img {
  width: 100%;
}

.infoitem img {
  width: 95px;
  height: 95px;
  object-fit: contain;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../images/photo_2025-03-10_21-05-48.jpg') center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px 20px;
}

.firstScreen {
  text-align: center;
  color: white;
  min-height: 900px;
  background-image: url('../images/mainBanner.png');
  padding: 0;
  padding-bottom: 100px;
  position: relative;
  background-position: 100% 50%;

}

.aboutPlace {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../images/photo_2025-03-10_21-05-52.jpg') center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  padding: 100px 20px;
  color: white;
}

.aboutPlace h2 {
  color: white;
}

.banner .authorsBlock {
  flex-direction: row;
  position: absolute;
  right: 25px;
  bottom: 150px;
  max-width: 1140px;
  width: 100%;
}

.authorsBlock .author {
  width: 50%;
}

.authorsBlock .author p {
  font-weight: 700;
}

.authorsBlock .author:nth-of-type(2) {
  margin-top: 55px;

}

.infoRow {
  background: white;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px 35px;
  color: black;
  width: 400px;
}
.infoRow p {
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
}

.infoblock-3-items {
  display: flex;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -170px;
  margin-bottom: 0px;
  padding: 50px 10px 50px 10px;
  border-radius: 15px;
}

.infoblock-3-items .infoitem {
  width: 33%;
  padding: 10px 50px;
  color: black;
  text-align: center;
}

.infoblocks-4-items {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.infoblocks-4-items .infoitem {
  width: 28%;
  padding: 50px 25px 25px 25px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 3px;
  min-height: 250px;
}

.infoblocks-4-items .infoitem h3 {
  text-transform: uppercase;
}

.infoblocks-4-items .infoitem svg {
  margin-bottom: 20px;
}

.row.infoBlock {
  margin-top: 100px;
}

.accordion {
  margin: auto;
  width: 100%;
  margin-top: 20px;
}
.accordion-item {
  background: white;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.accordion-header {
  background: #ffffff;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-header::after {
  content: "➕";
  font-size: 20px;
  transition: transform 0.3s;
}
.accordion-header.active::after {
  content: "➖";
}
.accordion-content {
  display: none;
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  background: white;
}
.accordion-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.infoblocks-3-items {
  display: flex;
  text-align: center;
  gap: 10px;
}

.infoblocks-3-items .infoitem {
  padding: 40px 15px 20px;
  width: 25%;
  border: 1px solid #00000026;
}

.aboutAuthors h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.aboutPlace h3 {
  text-align: center;
  width: 100%;
}


button.toContactForm {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c2794d;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  width: 350px;
  font-weight: 700;
  margin: auto;
}

button.toContactForm:hover {
  background-color: white;
  color: #c2794d;
}

.fieldWrapper {
  margin-bottom: 20px;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
}

input {
  border: none;
  margin-left: 20px;
  outline: none;
  width: 100%;
}

label {
  font-weight: 700;
}

.fieldWrapper.messenger-pick {
  flex-wrap: wrap;
}

.fieldWrapper.messenger-pick input {
  width: 10%;
}

.fieldWrapper.messenger-pick label:first-child {
  width: 100%;
  margin-bottom: 20px;
}

button.formSubmit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c2794d;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  width: 100%;
  font-weight: 700;
  margin: auto;
}

button.formSubmit:hover {
  background-color: rgb(56, 151, 56);
  color: white;
}

.aboutAuthors img {
  max-height: 500px;
  object-fit: contain;
  margin-bottom: 20px;
  background: #c27a4d;
}

.aboutAuthors .col-6 {
  display: flex;
  align-items: center;
}

.imageCards-3-items {
  display: flex;
  flex-wrap: wrap;
}

.imageCards-3-items .imageCard {
  width: 31%;
}

.imageCards-3-items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin-top: 50px;
}

section.banner h3 {
  font-size: 24px;
}

.imageCards-3-items .imageCard img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.ourRetritsAre .col-12 p {
    box-shadow: 0px 10px 30px 0px #c2794d;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    padding: 15px 30px;
    border: 1px solid #c2794d;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .authorsBlock .author {
      width: 50%;
      max-width: 300px;
      margin-left: auto;
  }
  .infoRow {
      margin-bottom: 10px;
      padding: 10px 15px;
      width: 220px;
      flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  h1 {
      font-size: 62px;
      font-weight: 800;
  }
  .firstScreen h2, .firstScreen .author h2 {
      font-size: 52px;
  }
  .firstScreen h2 {
      font-size: 90px;
  }
  .row.infoBlock {
      flex-direction: row;
  }
  .infoRow {
      background: #ffffff85;
      width: 350px;
      margin-right: 20px;
      margin-left: auto;
  }
  .infoRow:last-child {
      margin-right: auto;
  }
  .infoRow:hover {
      background: #ffffff;
  }
  .row.infoBlock {
      margin-top: 290px;
  }
  .banner .authorsBlock {
      bottom: 120px;
  }
  .infoblock-3-items {
      flex-direction: column;
      width: 100%;
  }
  .infoblock-3-items .infoitem {
      padding: 0;
      width: 100%;
  }
  .container {
      padding: 50px 0;
  }
  .col-6 {
      width: 100%;
      flex: 100%;
  }
  .contactUs {
    padding-bottom: 50px;
  }
  .contactUs img {
      max-height: 500px;
  }
  section.ourRetritsAre img {
      max-height: 500px;
  }
  .infoblocks-3-items .infoitem {
      width: 45%;
  }
  .infoblocks-3-items {
      flex-wrap: wrap;
  }
  .prices .row>p {
      margin-top: 20px;
  }
  section.aboutAuthors img {
      margin-bottom: 35px;

  }
  .aboutAuthors .row .row:last-of-type .col-6:first-of-type {
      order: 2;
  }
  .imageCards-3-items .imageCard {
      width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .firstScreen {
    background-image: url('../images/banner-mobile.png');
    padding-bottom: 100px;
    background-position: 50% 50%;
  }
  .infoRow {
      width: fit-content;
      margin-right: 15px;
      padding: 10px 15px;
      flex-direction: row;
  }
  .row.infoBlock {
      margin-top: 320px;
      flex-direction: row;
  }
  .infoblocks-4-items .infoitem {
      width: 100%;
      min-height: fit-content;
  }
  .infoblocks-3-items .infoitem {
      width: 100%;
  }
  .banner .authorsBlock {
      right: 0;
      padding: 0;
  }
  h2 {
      text-align: center;
  }
  .imageCards-3-items .imageCard {
      width: 100%;
  }
}


@media screen and (max-width: 568px) {
  h1 {
      font-size: 48px;
  }
  .firstScreen h2, .firstScreen .author h2 {
      font-size: 42px;
  }

  .firstScreen h2 {
      font-size: 70px;
  }

  .row p {
      font-size: 18px;
      line-height: 1.4em;
  }
  h2 {
      font-size: 26px;
  }
  button.toContactForm {
      width: 250px;
  }
  h3 {
      text-align: center;
  }
  .fieldWrapper.messenger-pick input {
      margin-bottom: 10px;
  }
  section.aboutAuthors img {
      max-height: fit-content;
  }
    
}

@media screen and (max-width: 480px) {
  .infoRow {
      width: 100%;
      margin-right: 0;
  }
  .row.infoBlock {
      margin-top: 280px;
      flex-direction: row;
  }
  .firstScreen .author h2 {
      font-size: 32px;
      line-height: 36px;
  }
  .firstScreen .row p {
      font-size: 16px;
      line-height: 1.4em;
  }

}
